
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@500&display=swap');

body {
    margin: auto;
    max-width: 800px;
    border: 5px solid black;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(70, 116, 162);
    display: grid;
    grid-template-columns: 400px 1fr;
}

header img {
    margin :5px o 5px 5px;
    grid-column: 1;
    grid-row: 1;
}

header h1 {
    grid-column: 1;
    grid-row: 2;
    font-weight: 700;
    margin: auto;
}

main h1{
    font-weight: 400;
    text-align: center;
}

main ul {
    line-height: 4em;
    font-family: 'Roboto', sans-serif;
    
}

footer {
    background-color:  rgb(70, 116, 162);
    padding: 25px;
    text-align: center;
}

footer p {
    font-size: 1em;
}