@media scren and (min-width: 768px)  {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card h2 {
        font-size: 16px;
    }

    
    
    .cara a,
    p{
        font-size: 14px;
    }
}

