body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f458;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 28px;
}

main {
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

section {
  background-color:  rgb(110, 125, 134); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

}

img:hover {
  transform: scale(1.05);
}

p {
  margin: 0;
  color:whitesmoke;
  font-size: 14px;
  line-height: 1.4;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: rgb(29, 55, 128);
}
