

@media (min-width: 768px) and (max-width: 1023px) {
  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for medium views (e.g., tablets) */
.container {
  padding: 30px;
}

.menu .box {
  width: 30%;
}

#weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#weather-container p,
#weather-container ul li {
  width: 48%;
}

#weather-container h3 {
  margin-top: 30px;
}

/* Fresh page  */
/* Medium View (Tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Adjust styles for medium view here */

  header h2,
  main h2 {
    font-size: 32px;
  }

  .box {
    width: 45%;
  }

  .specialtyDrinks h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 14px;
  }
}

/* Large View (Desktops and Large Screens) */
@media screen and (min-width: 992px) {
  /* Adjust styles for large view here */

  header h2,
  main h2 {
    font-size: 36px;
  }

  .box {
    width: 30%;
  }

  .specialtyDrinks h2 {
    font-size: 30px;
  }

  footer p {
    font-size: 16px;
  }
}
