

 @media (min-width: 60em) {
  header div button {
    display: none;
  }

  header div a {
    margin: 1.5rem;
  }

  header .social a {
    margin: auto;
  }

  nav ul#primaryNav {
    display: flex;
    justify-content: flex-start;
  }

  nav ul li a {
    border: none;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .menu {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .hero {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .news {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .event {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .join {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  aside {
    grid-column: 4/5;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
  }

  #spotlight3 {
    display: block;
  }
 footer-content{
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
  /*-----------------------Discover page----------------------------- */
  .form-container {
    width: 70%;
    margin: 0 auto;
  }
  

  .join-main {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    
    justify-content: center;
  }
 }
    /*--------------*/
   /* Your existing CSS styles here */

/* Additional styles for large viewports */

/* Adjust the spotlight item width for large viewports */
.spotlight-item {
  width: 400px;
}
