

@media screen and (min-width: 37.25rem) {
  
main{
    display: grid; 
  
    grid-template-columns:  1fr 1fr;
    
}

.event{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(195, 28, 28);
    padding: 5px;

}

.weather{
    grid-column: 2/3;
    grid-row :3/4;
    
    background-color: rgb(140, 31, 31);

}




.join{
   
   grid-row: 4/5;
    background-color: rgb(45, 13, 89);
    padding: 5px;
}

.hero { background-color: blue;
   grid-row: 1/2;
}


.news{
   grid-row: 2/3;
    background-color: rgb(148, 64, 64);
}



.spotte{
    grid-row:5/6;
background-color: #8a8c18 ;

}


   
   




}