
  :root {
    --primary-color: #283618;
    --secondary-color: #999;
    --accent1-color: #bc6c25;
    --accent2-color: #dda15e;
  
    --heading-font: "Open Sans", Arial, Helvetica, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
  
    --headline-color-on-white: #000; /* headlines on a white background */
    --headline-color-on-color: #fff; /* headlines on a colored background */
    --paragraph-color-on-white: #000; /* paragraph text on a white background */
    --paragraph-color-on-color: #fff; /* paragraph text on a colored background */
    --paragraph-background-color: #283618;
    --nav-link-color: #fff;
    --nav-background-color: #606c38;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #9aa0b5;
  }
    
  @media only screen and (min-width: 63.75rem) {

    nav button {
        display: none;
    }
    nav ul#Nav {
        display: flex;
    }
    nav ul li{
        text-align: center;
        flex: 1 0 auto;
    }
    
}


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--paragraph-font);
    }
 /*--------------------------------------Body----------------------------------------------------------------*/

 body{
    background-color: #9aa0b5;
    font-family: 'Zen Antique', serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
 
      
      
      





      /*-----------------------------header-------------------------------------------------------------------*/
     
       
     
      
      header,
      nav,
      main,
      footer {
        max-width: 1200px;
        min-width: 350px;
        margin: 0 auto;
 
    }
      
    
    

    
    header {
        background-color: #999;
        
        grid-template-columns: 5fr 1fr 1fr ;
       
       
        grid-area: header;
        justify-content:center;

    }
   
/*-----------------------------------------------Chamber----------------------------------------------------------------*/
#chamber{
    background-color: #4062a7;
    text-align: center;
    max-width: 1200;
    max-width: 1200px;
    margin: 0 auto;
    padding : 5px;
    color: white;
   }
    aside {
         padding: 20px;
        background-color: #eee;
        text-align: center;
        font-size: 14px;
        padding: 20px;
    }


/*-----------------------------------------------Nav------------------------------------------------------------------*/



nav {
    background-color: #4062a7;
    text-align: center;
    padding: 0.5rem;
    grid-column: 1/4;
    
}
nav button {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
#menu-btn {
    font-size: 1.25rem;
    align-items: center;
    padding-right: 0.625rem;
}
nav ul {
    list-style-type: none;
    
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.8rem 2.5rem;
    margin: 0.625rem;
    
}
nav ul li a:hover {
    background-color:#62629b;
    color: #0a474c;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}






/*-----------------------------------------------Logo-----------------------------------------------------------------*/



.logo {
   
     justify-content: center;
     width: 100px;
     height: 100px;
     margin: 0 auto;
     padding: 1rem;
     margin-left: 1rem;

}
     
   

       


.footer-logo{
   
    justify-content: center;
     width: 100px;
     height: 65px;
   
   

       
}


.hero-h1
 {
	font-size: 2.25rem;
  color: white;
}


  
/*-----------------------------------------------social media-----------------------------------------------------------------*/



  
.socialmedia {
    display: flex;
    justify-content: right;
    padding: 10px;  
    margin-right: 1rem;
  }
  
   .icon {
    
    width: 45px;
    height: 45px;
    box-shadow: 2px 6px 12px;
    margin-top: 10px;
    margin-right:  1rem;

  }



/*-----------------------------------------------Hamburguer Menu-----------------------------------------------------------------*/
.enlace{
    position: absolute;
    padding: 20px 50px;
    margin-top: 5px;
    width: 1px;
    height: 1px;
}


#check{
    display: none;
}


/*--------------------------------------------------Main Content----------------------------------------------------------------*/

         main {
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            padding: 1rem;
          }    
p{
    text-align: center;
}
.event{
   
    background-color: #ccc;
    padding: 5px;

}
.event p{
    text-align:left;
    margin-top: 10%;
}
.weather{
    background-color: #ccc;
} 
.weather img{
    display: flex;
    justify-content: center;
     width:  10 rem;
    margin: 0 auto;
    padding: 9rem;
   
   position: relative;
  
}
.weather p{
    display: flex;
    justify-content: center;
    color:rgb(46, 27, 27);
    margin: -1.79rem;
}



.join{
    
    background-color: #ccc;
    padding: 5px;
}
.join p{
    margin-top: 10%;
}
    

.hero{
    background-color: #ccc;
    padding: 5px;  
    

}


.news{
   
    background-color: #ccc;
}
.news p{
    margin-top: .5rem;
}
.news h2 {
    margin-top: 0.5rem;
}


.spot1{
   
    background-color: #ccc;
    padding-bottom: 3rem;
}

.spot1 p{

    padding: 5px;
}
.spot1 img {
    
    display: flex;
    justify-content: center;
     width: 10 rem;
    margin: 0 auto;
    padding: 1rem;
    margin-left: 1rem;
   position: relative;


}
.spot2{
    
    background-color: #ccc;
    padding-bottom: 3rem;
}
.spot2 p{
    padding: 5px;
}
.spot2 img {
    display: flex;
    justify-content: center;
     width: 10 rem;
    margin: 0 auto;
    padding: 1rem;
    margin-left: 1rem;
   position: relative;

}
.spot3{
   
    background-color: #ccc;
    padding-bottom: 2rem;
}

.spot3 img {
    display: flex;
    justify-content: center;
     width: 10 rem;
    margin: 0 auto;
    padding: 1rem;
    margin-left: 1rem;
   position: relative;

}
h1{
    font-size: 25px;
    text-align: center;
}
h2{
    text-align:  center;
}
img{
    width: 100%;
    height: auto;
}
#now {
    text-align: center;
    padding: 0.5rem;
    font-size: large;
    color:white;
}
/*--------------------------------------------------Footer-----------------------------------------------------------*/

footer{
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    padding: 20px;

	}
  



.footer-content{
    
    background-color: #4062a7;
    grid-column: 1/4;
    grid-row: 2/4;
    max-width: 1200px;
	color: white;max-width: 1200;
    
      






}
.nauvoo-footer   {
    color:blue;
    padding: 10px 0px;
    text-align: center;
  }
  
  
  
  .contact {

  color:blue;
    padding: 10px 0px;
    text-align: center;
  }
/*--------------------------------------------------image large-----------------------------------------------------------*/





  main picture.test img {
    width: 100%;
  
  }
  
  
  picture.test {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero {
    position: relative;
    padding: 0px;
  }
  
  .hero img {
    object-fit: cover;
  }
  .call-to-action {
    color:white;
    background-color: #4062a7;
  }

   
       

